<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TVApplicationRevision</key>
	<integer>22956</integer>
	<key>TVApplicationVersion</key>
	<string>2.8.1b4</string>
	<key>TVDocumentFormatVersion</key>
	<string>2.000</string>
</dict>
</plist>
